# Supabase Configuration
VITE_SUPABASE_URL= https://pbcoftqdqyitgzwyadjc.supabase.co
VITE_SUPABASE_ANON_KEY= sb_publishable_H83QVpeK3IBPo10M00QKiQ_Un9XT64L

# Google Maps Platform
GOOGLE_MAPS_PLATFORM_KEY= AIzaSyCT4_-3Hr6FRrKWKSw2DO_dsss0-a_fswQ

# PositionStack API
VITE_POSITIONSTACK_KEY=
